@{
    ViewBag.Title = "Inicio";
}

<h2>Bienvenido al sistema ISOTEP</h2>

<div style="margin-top: 20px;">
    <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Ingresar como Administrador</a>
    <a class="btn btn-success" href="@Url.Action("Buscar", "Consulta")">Consultar como Estudiante</a>
</div>
